{% extends 'index.html' %}

{% block navitems %}
{% if user.is_authenticated %}
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'createcustomer' %}">Add Customer </a>
  </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
    </li>
</ul>
{% else %}
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Signup</a>
    </li>
</ul>
{% endif %}
{% endblock %}

{% block msg %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block main %}
{% if user.is_authenticated %}
{% if records %}
<div class="container-fluid p-2 mt-3">
  <h3>welcome {{user.first_name}} !</h3>
  <table class="table table-dark table-striped-columns table-hover">
    <tr>
      <th>ID</th><th>FirstName</th><th>LastName</th><th>Email</th><th>Phone</th>
      <th>Address</th><th>City</th><th>State</th><th>Zipcode</th><th>Date Created</th>
      <th>View</th>
    </tr>
    {% for record in records %}
    <tr>
       <td>{{record.id}}</td>
       <td>{{record.first_name}}</td>
       <td>{{record.last_name}}</td>
       <td>{{record.email}}</td>
       <td>{{record.phone}}</td>
       <td>{{record.Address}}</td>
       <td>{{record.city}}</td>
       <td>{{record.state}}</td>
       <td>{{record.zipcode}}</td>
       <td>{{record.created_at}}</td>
       <td><a href="{% url 'select' record.id %}">View</a></td>
       
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

{% else %}
<div class="col-md-4 offset-md-4 mt-3 p-2">
    <h2>Login</h2>
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mt-3">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" name="un">
        <div class="mt-3">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" name="pass1">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
        <p>Don't have an account? please <a href="{% url 'register' %}">Signup</a></p>
      </form>
</div>
{% endif %}
{% endblock %}